.header-md::after {
    display: none;
}
ion-header {
    & div {
        background-color: var(--ion-custom-background);
        & ion-img {
            padding: 25px 10px 0 10px ;
        }
    }
    &.header:after {
        background: none;
    }
}
