ion-grid {
  height: 100%;

  ion-row {
    color: #ffffff;
    height: 80%;
  }

  h1 {
    padding-right: 25px;
    font-size: 32px;
  }
}

.input {
  --ion-background-color: #ffffff;
  border-radius: 10px;
  width: 90%;

  ion-input {
    background-color: #ffffff;
    --placeholder-color: #ad9b39;
    font-size: 18px;
    --placeholder-font-weight: 1000;
  }

  ion-icon {
    color: #ad9b39;
    margin-left: 5px;
  }
}


