<app-header></app-header>
<ion-content>
  <ion-grid >
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="">
        <ion-list>
        <ion-text class="">
          <h1>تسجيل الدخول</h1>
        </ion-text>
        <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
        <ion-item  lines="none" class="input ion-margin">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input  formControlName="name" type="text" placeholder="أسم المستخدم" autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.name.touched && formControles.name.errors">
        برجاء إدخال إسم المستخدم
        </p>
        <ion-item  lines="none" class="input ion-margin">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input formControlName="password" placeholder="كلمة السر" [type]="passwordType"></ion-input>
          <ion-icon [name]="passwordIcon" (click)="hideShowPassword()"></ion-icon>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.password.touched && formControles.password.errors">
          برجاء إدخال كلمة المرور
          </p>
        <ion-row class="ion-justify-content-center ion-margin-top btn">
          <ion-button [disabled]="!loginForm.valid" type="submit" class="login__button">
            تسجيل الدخول
          </ion-button>
        </ion-row>
      </form>
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
