<app-header></app-header>
<ion-content>
  <ion-grid >
    <form [formGroup]="qualityForm" (ngSubmit)="submit()">
      <app-farm-data (formReady)="addChildForm('farmData',$event)"></app-farm-data>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-item  lines="none">
          <ion-label>كدمات الصدر:</ion-label>
          <ion-input formControlName="chestContusions"  type="number"  autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.chestContusions.touched && formControles.chestContusions.errors">
          برجاء إدخال كدمات الصدر
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-item  lines="none" class="input">
          <ion-label>الأجنحة:</ion-label>
          <ion-input   formControlName="wings" type="number"  autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.wings.touched && formControles.wings.errors">
          برجاء إدخال عدد الأجنحة
          </p>
      </ion-col>
      <ion-col size="12">
        <ion-item  lines="none" class="input">
          <ion-label>الأرجل:</ion-label>
          <ion-input  formControlName="legs"  type="number"  autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.legs.touched && formControles.legs.errors">
          برجاء إدخال عدد الأرجل
        </p>
      </ion-col>
      <ion-col size="12">
        <ion-item  lines="none" class="input">
          <ion-label>خدوش الظهر:</ion-label>
          <ion-input  formControlName="backScratches" type="number"  autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.backScratches.touched && formControles.backScratches.errors">
          برجاء إدخال خدوش الظهر
          </p>
      </ion-col>
      <ion-col size="12">
        <ion-item  lines="none" class="input">
          <ion-label>تكسير ماكينة:</ion-label>
          <ion-input   formControlName="machineDamage" type="number"  autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.machineDamage.touched && formControles.machineDamage.errors">
          برجاء إدخال تكسير الماكينة
          </p>
      </ion-col>
      <ion-col size="12">
        <ion-item  lines="none" class="input">
          <ion-label>إعدامات تصنيع:</ion-label>
          <ion-input formControlName="execution"  type="number"  autocomplete="off" clearInput></ion-input>
        </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.execution.touched && formControles.execution.errors">
          برجاء إدخال إعدامات التصنيع
          </p>
      </ion-col>
    <ion-row class="ion-margin-top" >
       <ion-col size="7"  pull="5">
          <ion-label>التشخيص</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-item  lines="none">
        <ion-textarea formControlName="diagnosis" ></ion-textarea>
      </ion-item>
        <p class="ion-text-center form__error" *ngIf="formControles.diagnosis.touched && formControles.diagnosis.errors">
          برجاء إدخال التشخيص
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top" >
      <ion-col size="7"  pull="5">
         <ion-label>الأسباب</ion-label>
     </ion-col>
     <ion-col size="12">
       <ion-item  lines="none">
       <ion-textarea formControlName="causes"></ion-textarea>
     </ion-item>
       <p class="ion-text-center form__error" *ngIf="formControles.causes.touched && formControles.causes.errors">
         برجاء إدخال الأسباب
       </p>
     </ion-col>
   </ion-row>
   <ion-row class="ion-margin-top" >
    <ion-col size="8.5"  pull="3.5">
       <ion-label>الأجراءات والتوصيات</ion-label>
   </ion-col>
   <ion-col size="12">
     <ion-item  lines="none">
     <ion-textarea formControlName="recommendation"></ion-textarea>
   </ion-item>
     <p class="ion-text-center form__error" *ngIf="formControles.recommendation.touched && formControles.recommendation.errors">
       برجاء إدخال الأجراءت والتوصيات
     </p>
   </ion-col>
 </ion-row>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-button  [disabled]="!qualityForm.valid"type="submit" class="btn">
        حفظ
      </ion-button>
    </ion-row>
  </form>
  </ion-grid>
</ion-content>
